<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyChwn4ZxFdENcHCBJlDHuaUfcD9cGHIGVI</string>
	<key>GCM_SENDER_ID</key>
	<string>255154096940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppingmall</string>
	<key>PROJECT_ID</key>
	<string>choco-firebase-ex001</string>
	<key>STORAGE_BUCKET</key>
	<string>choco-firebase-ex001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255154096940:ios:a767b715a6ea74a135ba89</string>
	<key>DATABASE_URL</key>
	<string>https://choco-firebase-ex001-default-rtdb.firebaseio.com</string>
</dict>
</plist>